.et-navbar{
  background: @primary;
  border: none;
  .navbar-brand{
    color: @white;
  }
  li{
    a.nav-link{
      color: @white;
      .transition(.4s all);
    }
    &:hover{
      a.nav-link{
        background: darken(@primary, 5%);
        color: @white;
      }
    }
    &.active{
      a{
        font-weight: bold;
        background: none;
        color: @white;
      }
    }
  }
}

.navbar-nav > li.header-login > a {
  padding: 0;
  line-height: 40px;
  color: @primary;
}

.header-login{
    height: 40px;
    line-height: 40px;
    background: @white;
    color: @primary;
    margin-top: 20px;
    padding: 0 15px;
    border-radius: 20px;
    i{
      margin-left: 10px;
    }
}

.header-profile img{
  float: left;
  position: relative;
  top: -10px;
  left: -5px;
  .img-circle;
}
.header-search{
  position: relative;
  input {
    height: 40px;
    border-radius: 20px;
    padding-left: 40px;
    border: none;
    width: 120px;
    transition: all .4s ease-in-out;
    &:focus {
      width: 250px;
      outline: none;
    }
  }
  .navbar-form{
    margin: 20px 0;
  }
  &:before{
    .fa;
    content:'\f002';
    position: absolute;
    top: 30px;
    left: 25px;
    color: @red;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: @primary;
  }
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: darken(@primary, 5%);
  border: none !important;
}
.btn-login{
  display: inline-block;
  background: @blue-700;
  color: white;
  font-weight: bold;
  padding: 8px 16px !important;
  margin-top: 22px;
  border: none;
  box-shadow: none;
  .transition(.3s);
  &:hover{
    border: none;
    background: @white !important;
    color: @blue;
  }
}
