// index of logged in users
.friends-container, .timeline-container{
  background: @et-bg;
  padding: 15px;
  margin-bottom: 15px;
}
.groups-container{
  background: @et-bg;
  margin-bottom: 15px;
  padding: 15px 0;
  h3{
    padding-left: 15px;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      padding: 15px;
      border-bottom: 1px solid #b9d5e2;
      &:last-child{
        border-bottom: none;
      }
      img{
        display: inline-block;
        float: left;
        margin-right: 10px;
      }
      h4{
        font-size: 16px;
        line-height: 18px;
        margin: 0;
        padding: 0;
      }
      p{
        color: #a3a3a5;
        margin: 0;
      }
    }
  }
}
.friends-container{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      img{
        float: left;
        margin-right: 10px;
      }
      p{
        line-height: 40px;
        font-weight: bold;
      }
      a{
        float: right;
        margin-top: 5px;
      }
    }
  }
}

.fa-et {
  .size(40px, 40px);
  line-height: 40px;
  background: @primary-light;
  border-radius: 20px;
  color: white;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.file-talk {
  p {
    line-height: 1.4em;
  }
}

.talk, .talk-body {
  overflow: hidden;
}
.talk{
  margin: 2em 0;
  .user{
    color: @primary;
  }
  .time{
    font-size: .8em;
    color: @grey;
  }
  .talk-body{
    p{
      margin-bottom: 0;
    }
  }
}

