// Bootstrap Variablen
@brand-primary: @primary;
@brand-danger: @red;
@brand-success: @green;

// Typography
@font-family-sans-serif: "Roboto", Helvetica Neue, Helvetic, Arial, sans-serif;

// Layout
@navbar-height: 80px;

// End Bootstrap Variables
//----------

// Allgemeine Farben
@black: #000;
@white: #fff;
@grey: #666;
@light-grey: #eee;

@blue: #03a9f4;
@blue-light: #81d4fa;
@red: red;
@green: green;

@et-bg: #ebf3f6;




@danger: @red;
@success: @green;
@primary: @blue;
@primary-light: @blue-light;
