// Bootstrap Variablen
@brand-primary: @primary;
@brand-danger: @red;
@brand-success: @green;

// Typography
@font-family-sans-serif: "Roboto", Helvetica Neue, Helvetic, Arial, sans-serif;

// Layout
@navbar-height: 80px;

// End Bootstrap Variables
//----------

// Allgemeine Farben
@black: #000;
@white: #fff;

@blue: #03a9f4;
@red: red;
@green: green;






@danger: @red;
@success: @green;
@primary: @blue;
